.home-title {
    height: 65vh;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 3.5rem/* 56px */;
    
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 55%);

    transition-delay: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.get-started:hover {
    background-color: var(--bcolor1);
}
