.test-page {
    min-height: 90vh;
}

.input-patient, .input-prediction {
    width: 70%;
    border-radius: 7px;

    transition-delay: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-patient:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.input-prediction:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.input-txt {
    display: flex;
    text-shadow: 2px 2px 4px #00000072;
}

.input-txt::file-selector-button {
    display: flex;
    justify-content: center;
    width: 225px;
    color: white;
    text-shadow: 2px 2px 4px #000000ad;
    cursor: pointer;

    transition-delay: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-txt::file-selector-button:hover {
    background-color: var(--bcolor2);
}

.test-btn {
    width: 20%;

    color: white;
    text-shadow: 2px 2px 4px #000000ad;

    border-radius: 0.5rem/* 8px */;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    transition-delay: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.test-btn:hover {
    background-color: var(--bcolor1);
}

.test-css {
    letter-spacing: 5px;
}