.input-result {
    width: 60%;
    border-radius: 7px;
    background-color: #ffffffb5;
    
    transition-delay: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-result:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.result-item {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.621);

    border-radius: 13px;
    outline: var(--color1) solid 1px;
    box-shadow: 0px 4px 5px 1px rgb(0 0 0 / 27%);

    cursor: pointer;
    transition-delay: 150ms;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.result-item:hover {
    color:rgba(0, 0, 0, 0.621);
    background-color: var(--color1);
}
