@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
        font-family: 'Denk One', sans-serif;
    }
    body {
        background-image: url('./assets/background.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1 {
        font-size: 96px;
        line-height: 1.1;
        letter-spacing: 0.3px;

        margin: 0;
        padding: 0;
        
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }
    h2 {
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.3px;
        
        margin: 0;
        padding: 0;
    }
}
